extends ./layout/index
block contenido

  .section.container
    .back-next_buttons_container
      a(href='/personales')
        button.regresar
          img.regresar_img(src='img/back.png', alt='')
      a(href='/economicos')
        button.regresar
          img.regresar_img(src='img/next.png', alt='')

    .entrevista_incial_title_container 
      h1.entrevista_inicial_title #{heading}
      span.required_text * Campos requeridos

    .entrevista_inicial_form_container
      form.student_info_form(action='/guardarAcademicos' method='post')
        .entrevista_inicial_inputs_field
          label(for='bachilleratoegresado') &iquest;De qu&eacute; bachillerato egresaste ? 
            span.required_inputs *
          select#inputaca1.entrevista_inicial_inputs(style='width:250px' type='text' name='bachilleratoegresado' required='' value=bachilleratoegresado)
            option(value='') Elija una opcion
            option(value='CETis 71' selected=bachilleratoegresado === 'CETis 71') CETis 71
            option(value='CETis 131' selected=bachilleratoegresado === 'CETis 131') CETis 131
            option(value='CBTis 7' selected=bachilleratoegresado === 'CBTis 7') CBTis 7
            option(value='CBTis 73' selected=bachilleratoegresado === 'CBTis 73') CBTis 73
            option(value='CBTis 276' selected=bachilleratoegresado === 'CBTis 276') CBTis 276
            option(value='Cobat 07' selected=bachilleratoegresado === 'Cobat 07') Cobat 07
            option(value='Cobat 22' selected=bachilleratoegresado === 'Cobat 22') Cobat 22
            option(value='Cobat 08 ' selected=bachilleratoegresado === 'Cobat 08 ') Cobat 08 
            option(value='Cobat 17' selected=bachilleratoegresado === 'Cobat 17') Cobat 17
            option(value='CBTa 275' selected=bachilleratoegresado === 'CBTa 275') CBTa 275
            option(value='CONALEP 129' selected=bachilleratoegresado === 'CONALEP 129') CONALEP 129
            option(value='CONALEP 200' selected=bachilleratoegresado === 'CONALEP 200') CONALEP 200
            option(value='ITACE' selected=bachilleratoegresado === 'ITACE') ITACE
            option(value='UMAN' selected=bachilleratoegresado === 'UMAN') UMAN
            option(value='Universidad Miguel Aleman' selected=bachilleratoegresado === 'Universidad Miguel Aleman') Universidad Miguel Aleman
            option(value='Preparatoria Fernando Montes De Oca' selected=bachilleratoegresado === 'Preparatoria Fernando Montes De Oca') Preparatoria Fernando Montes De Oca
            option(value='Universidad del Atlántico' selected=bachilleratoegresado === 'Universidad del Atlántico') Universidad del Atlántico
            option(value='Escuela Preparatoria Gral. Francisco J. Múgica' selected=bachilleratoegresado === 'Escuela Preparatoria Gral. Francisco J. Múgica') Escuela Preparatoria Gral. Francisco J. Múgica
            option(value='Universidad Tamaulipeca' selected=bachilleratoegresado === 'Universidad Tamaulipeca') Universidad Tamaulipeca
            option(value='IIES' selected=bachilleratoegresado === 'IIES') IIES
            option(value='Otra' selected=bachilleratoegresado === 'Otra') Otra
        #inputaca01Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='otrobachillerato') Otra
            span.required_inputs *
          input#input01.entrevista_inicial_inputs(type='text' name='otrobachillerato' value=otrobachillerato required)
        .entrevista_inicial_inputs_field
          label(for='especialidadbachillerato') Especialidad bachillerato:
            span.required_inputs *
          input#input2.entrevista_inicial_inputs(type='text' name='especialidadbachillerato' placeholder='Especialidad bachillerato' required='' value=especialidadbachillerato)
        .entrevista_inicial_inputs_field
          label(for='promediogeneral') Promedio general
            span.required_inputs *
          input#input2.entrevista_inicial_inputs(type='text' name='promediogeneral' placeholder='Promedio general' required='' value=promediogeneral)
        .entrevista_inicial_inputs_field
          label(for='materiasdificultan') Materias que se te dificultan
            span.required_inputs *
          input#input4.entrevista_inicial_inputs(type='text' name='materiasdificultan' required='' value=materiasdificultan)
        .entrevista_inicial_inputs_field
          label(for='tecnicasdeestudio' ) T&eacute;cnicas de estudio que utiliza
            span.required_inputs *
          input#input5.entrevista_inicial_inputs(type='text' name='tecnicasdeestudio' required='' value=tecnicasdeestudio)
        .entrevista_inicial_inputs_field
          label(for='exameninterno') &iquest;Hizo alg&uacute;n examen interno?
            span.required_inputs *
          select#inputaca6.entrevista_inicial_inputs(name='exameninterno' required='')
            option(value='') Elija una opcion
            option(value='no' selected=exameninterno === 'no') No
            option(value='si' selected=exameninterno === 'si') S&iacute;
        #inputaca7Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='calificacioninterno') Calificaci&oacute;n
            span.required_inputs *
          input#input7.entrevista_inicial_inputs(type='text' name='calificacioninterno' value=calificacioninterno required class='decimal-input')
        .entrevista_inicial_inputs_field
          label(for='examenceneval') &iquest;Hizo examen ceneval?
            span.required_inputs *
          select#inputaca8.entrevista_inicial_inputs(name='examenceneval' required='')
            option(value='') Elija una opcion
            option(value='no'  selected=examenceneval === 'no') No
            option(value='si'  selected=examenceneval=== 'si') S&iacute;
        #inputaca9Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='calificacionceneval') Calificaci&oacute;n 1:
          input#input9.entrevista_inicial_inputs(type='text' name='calificacionceneval' placeholder='Aquí se mostran las calificaciones' readonly="readonly" class='decimal-input')
        #inputaca10Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='input10') Calificaci&oacute;n 2:
          input#input10.entrevista_inicial_inputs(type='text', placeholder='Cuando se tengan' readonly="readonly" class='decimal-input')
        #inputaca11Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='input11') Calificaci&oacute;n 3:
          input#input11.entrevista_inicial_inputs(type='text', placeholder='Aquí se mostran las calificaciones' readonly="readonly" class='decimal-input')
        #inputaca12Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='input12') Calificaci&oacute;n 4:
          input#input12.entrevista_inicial_inputs(type='text', placeholder='Cuando se tengan' readonly="readonly" class='decimal-input')
        .entrevista_inicial_button_container
          button.submit-button.forms_button(type='submit') Enviar
      script(src='include/changesaca.js')
      script(src="include/number.js") 