extends ./layout/index
block contenido

  .section.container
    .back-next_buttons_container
      a(href='/academicos')
        button.regresar
          img.regresar_img(src='img/back.png', alt='')
      a(href='/salud')
        button.regresar
          img.regresar_img(src='img/next.png', alt='')

    .entrevista_incial_title_container 
      h1.entrevista_inicial_title #{heading}
      span.required_text * Campos requeridos
    .entrevista_inicial_form_container
      form.student_info_form(action='/guardarEconomicos' method='post')
        .entrevista_inicial_inputs_field
          label(for='conquienvives') &iquest;Con qui&eacute;n vives actualmente?
            span.required_inputs *
          input#input1.entrevista_inicial_inputs(type='text' name='conquienvives' placeholder='Ej. Papá, mamá, papá y mamá, hermanos, etc..' required='' value=conquienvives)
        .entrevista_inicial_inputs_field
          label(for='casadondevives') La casa donde vives es
            span.required_inputs *
          select#input1.entrevista_inicial_inputs(type='text' name='casadondevives' required='')
            option(value='') Elija una opcion
            option(value='Propia' selected=casadondevives === 'Propia') Propia
            option(value='Rentada' selected=casadondevives === 'Rentada') Rentada
            option(value='Prestada' selected=casadondevives === 'Prestada') Prestada
            option(value='De algun familiar' selected=casadondevives === 'De algun familiar') De algun familiar
        .entrevista_inicial_inputs_field
          label(for='profesionpapa') &iquest;A qu&eacute; se dedica tu pap&aacute;?
            span.required_inputs *
          select#input3.entrevista_inicial_inputs(type='text' name='profesionpapa' required='')
            option(value='') Elija una opcion
            option(value='Empleado' selected=profesionpapa === 'Empleado') Empleado
            option(value='Independiente' selected=profesionpapa === 'Independiente') Independiente 
            option(value='Jubilado' selected=profesionpapa === 'Jubilado') Jubilado 
            option(value='Pensionado' selected=profesionpapa === 'Pensionado') Pensionado  
            option(value='Desempleado' selected=arofesionpapa === 'Desempleado') Desempleado 
        .entrevista_inicial_inputs_field
          label(for='profesionmama') &iquest;A qu&eacute; se dedica tu mam&aacute;?
            span.required_inputs *
          select#input4.entrevista_inicial_inputs(type='text' name='profesionmama' required='')
            option(value='') Elija una opcion
            option(value='Empleado' selected=profesionmama === 'Empleado') Empleado
            option(value='Independiente' selected=profesionmama === 'Independiente') Independiente 
            option(value='Jubilado' selected=profesionmama === 'Jubilado') Jubilado 
            option(value='Pensionado' selected=profesionmama === 'Pensionado') Pensionado
            option(value='Desempleado' selected=profesionmama === 'Desempleado') Desempleado 
        .entrevista_inicial_inputs_field
          label(for='cuentasconbeca') &iquest;Cuentas con alguna beca?
            span.required_inputs *
          select#inputeco5.entrevista_inicial_inputs(name='cuentasconbeca' required='')
            option(value='') Elija una opcion
            option(value='no' selected=cuentasconbeca === 'no') No
            option(value='si' selected=cuentasconbeca === 'si') S&iacute;
        #inputeco6Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='tipodebeca') Tipo de beca
            span.required_inputs *
          select#input6.entrevista_inicial_inputs(type='text' name='tipodebeca' required)
            option(value='') Elija una opcion
            option(value='Estatal' selected=tipodebeca === 'Estatal') Estatal
            option(value='Municipal' selected=tipodebeca === 'Municipal') Municipal
            option(value='Otra' selected=tipodebeca === 'Otra') Otra
        #inputeco7Row.entrevista_inicial_inputs_field(style="display: none;")
          label(for='nombrebeca') Nombre de la beca
            span.required_inputs *
          input#input7.entrevista_inicial_inputs(type='text' name='nombrebeca' placeholder='Ej. “Avanza por las niñas, niños y adolescentes de Tamaulipas”' value=nombrebeca required)
        .entrevista_inicial_inputs_field
          label(for='tieneshermanos') &iquest;Tienes hermanos?
            span.required_inputs *
          select#inputeco9.entrevista_inicial_inputs(name='tieneshermanos' required='')
            option(value='') Elija una opcion
            option(value='no' selected=tieneshermanos === 'no') No
            option(value='si' selected=tieneshermanos === 'si') S&iacute;
        #inputeco10Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='cuantoshermanos') &iquest;Cu&aacute;ntos hermanos tienes?
            span.required_inputs *
          input#input10.entrevista_inicial_inputs(type='text' name='cuantoshermanos' value=cuantoshermanos required)
        .entrevista_inicial_inputs_field
          label(for='padreomadre') &iquest;Eres padre o madre?
            span.required_inputs *
          select#inputeco11.entrevista_inicial_inputs(name='padreomadre' required='')
            option(value='') Elija una opcion
            option(value='no' selected=padreomadre === 'no') No
            option(value='si' selected=padreomadre === 'si') S&iacute;
        #inputeco12Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='cuantoshijos') &iquest;Cu&aacute;ntos hijos tienes?
            span.required_inputs *
          input#input12.entrevista_inicial_inputs(type='text' name='cuantoshijos' value=cuantoshijos required)
        .entrevista_inicial_inputs_field(style='display: none;')
          label(for='sexo') Sexo
            span.required_inputs *
          select#inputper12.entrevista_inicial_inputs(type='text' name='sexo' placeholder='' value=sexo)
            option(value='') Elija una opción
            option(value='Masculino' selected=sexo === 'Masculino') Masculino
            option(value='Femenino' selected=sexo === 'Femenino') Femenino
        #inputeco13Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='embarazo') ¿Estás embarazada?
            span.required_inputs *
          select#input13.entrevista_inicial_inputs(type='text' name='embarazo' required)
            option(value='') Selecciona una opción
            option(value='no' selected=embarazo === 'no') No
            option(value='si' selected=embarazo === 'si') Si
        .entrevista_inicial_inputs_field
          label(for='trabajas') &iquest;Trabajas?
            span.required_inputs *
          select#inputeco14.entrevista_inicial_inputs(name='trabajas' required='')
            option(value='') Elija una opcion
            option(value='no' selected=trabajas === 'no') No
            option(value='si' selected=trabajas === 'si') S&iacute;
        #inputeco15Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='dondetrabajas') Específica donde trabajas
            span.required_inputs *
          input#input15.entrevista_inicial_inputs(type='text' name='dondetrabajas' value=dondetrabajas required)
        #inputeco16Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='horariolaboral') Específica tu horario laboral
            span.required_inputs *
          input#input16.entrevista_inicial_inputs(type='text' name='horariolaboral' value=horariolaboral required)
        .entrevista_inicial_button_container
          button.submit-button.forms_button(type='submit') Enviar
    script(src='include/changeseco.js')