extends ./layout/index
block contenido

  .section.container
    .back-next_buttons_container
      a(href='/economicos')
        button.regresar
          img.regresar_img(src='img/back.png', alt='')
      a(href='/tutorias')
        button.regresar
          img.regresar_img(src='img/next.png', alt='')

    .entrevista_incial_title_container 
      h1.entrevista_inicial_title #{heading}
      span.required_text * Campos requeridos

    .entrevista_inicial_form_container
      form.student_info_form(action='/guardarSalud' method='post')
        .entrevista_inicial_inputs_field
          label(for='enfermadadcronica') &iquest;Padeces alguna enfermedad cr&oacute;nica?
            span.required_inputs *
          select#inputsal1.entrevista_inicial_inputs(name='enfermadadcronica' required='')
            option(value='') Elija una opcion
            option(value='no' selected=enfermadadcronica === 'no') No
            option(value='si' selected=enfermadadcronica === 'si') S&iacute;
        #inputsal2Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='queenfermedad') &iquest;Qu&eacute; enfermedad?
            span.required_inputs *
          select#input2.entrevista_inicial_inputs(type='text' name='queenfermedad' value=queenfermedad required)
              option(value='') Elija una opcion
              option(value='Hipertensión' selected=queenfermedad === 'Hipertensión') Hipertensión
              option(value='Diabetes' selected=queenfermedad === 'Diabetes') Diabetes
              option(value='Asma' selected=queenfermedad === 'Asma') Asma
              option(value='Epilepsia' selected=queenfermedad === 'Epilepsia') Epilepsia
              option(value='Cardipatía/Arritmia' selected=queenfermedad === 'Cardipatía/Arritmia') Cardipatía/Arritmia
              option(value='Dislipidemias' selected=queenfermedad === 'Dislipidemias') Dislipidemias
              option(value='Vista' selected=queenfermedad === 'Vista') Vista
              option(value='Osteoporosis' selected=queenfermedad === 'Osteoporosis') Osteoporosis
              option(value='Anemia' selected=queenfermedad === 'Anemia') Anemia
              option(value='Artrosis/Artritis' selected=queenfermedad === 'Artrosis/Artritis') Artrosis/Artritis
              option(value='Coagulación Sanguínea' selected=queenfermedad === 'Coagulación Sanguínea') Coagulación Sanguínea
              option(value='Cirugías anteriores' selected=queenfermedad === 'Cirugías anteriores') Cirugías anteriores
              option(value='Otras' selected=queenfermedad === 'Otras') Otras
        #inputsal02Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='otraenfermedad') Otra
            span.required_inputs * 
          input#input02.entrevista_inicial_inputs(type='text' name='otraenfermedad' placeholder='Otra enfermedad' required='' value=otraenfermedad)
        .entrevista_inicial_inputs_field
          label(for='tomamedicamento') &iquest;Tomas medicamento peri&oacute;dicamente?
            span.required_inputs *
          select#inputsal3.entrevista_inicial_inputs(name='tomamedicamento' required='')
            option(value='') Elija una opcion
            option(value='no' selected=tomamedicamento === 'no') No
            option(value='si' selected=tomamedicamento === 'si') S&iacute;
        #inputsal4Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='medicamentoyfrecuencia') Escribe el nombre y la frecuencia
            span.required_inputs *
          input#input4.entrevista_inicial_inputs(type='text' name='medicamentoyfrecuencia' value=medicamentoyfrecuencia required)
        .entrevista_inicial_inputs_field
          label(for='tienediscapacidad') &iquest;Tienes alguna discapacidad?
            span.required_inputs *
          select#inputsal5.entrevista_inicial_inputs(name='tienediscapacidad' required='')
            option(value='') Elija una opcion
            option(value='no' selected=tienediscapacidad === 'no') No
            option(value='si' selected=tienediscapacidad === 'si') S&iacute;
        #inputsal6Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='tipodiscapacidad') &iquest;Qu&eacute; discapacidad?
            span.required_inputs *
          input#input6.entrevista_inicial_inputs(type='text' name='tipodiscapacidad' value=tipodiscapacidad required)
        .entrevista_inicial_inputs_field
          label(for='condicionpsicosocial') &iquest;Cuentas con una condici&oacute;n psicosocial?
            span.required_inputs *
          select#inputsal7.entrevista_inicial_inputs(name='condicionpsicosocial' required='')
            option(value='') Elija una opcion
            option(value='no' selected=condicionpsicosocial === 'no') No
            option(value='si' selected=condicionpsicosocial === 'si') S&iacute;
        #inputsal8Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='tipocondicion') &iquest;Qu&eacute; condici&oacute;n?
            span.required_inputs *
          input#input8.entrevista_inicial_inputs(type='text' name='tipocondicion' value=tipocondicion required)
        .entrevista_inicial_inputs_field
          label(for='bebidasalcoholicas') &iquest;Ingieres bebidas alcoh&oacute;licas?
            span.required_inputs *
          select#inputsal9.entrevista_inicial_inputs(name='bebidasalcoholicas' required='')
            option(value='') Elija una opcion
            option(value='no' selected=bebidasalcoholicas === 'no') No
            option(value='si' selected=bebidasalcoholicas === 'si') S&iacute;
        #inputsal10Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='frecuenciabebidas') &iquest;Con qu&eacute; frecuencia?
            span.required_inputs *
          select#input10.entrevista_inicial_inputs(type='text' name='frecuenciabebidas' value=frecuenciabebidas required)
            option(value='') Elija una opcion
            option(value='Diario' selected=frecuenciabebidas === 'Diario') Diario
            option(value='2-3 veces por semana' selected=frecuenciabebidas === '2-3 veces por semana') 2-3 veces por semana
            option(value='2-3 veces por mes' selected=frecuenciabebidas === '2-3 veces por mes') 2-3 veces por mes
        .entrevista_inicial_inputs_field
          label(for='fumas') &iquest;Fumas?
            span.required_inputs *
          select#inputsal11.entrevista_inicial_inputs(name='fumas' required='')
            option(value='') Elija una opcion
            option(value='no' selected=fumas === 'no') No
            option(value='si' selected=fumas === 'si') S&iacute;
        #inputsal12Row.entrevista_inicial_inputs_field(style='display: none;')
          label(for='frecuenciafumas') &iquest;Con qu&eacute; frecuencia?
            span.required_inputs *
          select#input12.entrevista_inicial_inputs(type='text' name='frecuenciafumas' required)
            option(value='') Elija una opcion
            option(value='Diario' selected=frecuenciafumas === 'Diario') Diario
            option(value='2-3 veces por semana' selected=frecuenciafumas === '2-3 veces por semana') 2-3 veces por semana
            option(value='2-3 veces por mes' selected=frecuenciafumas === '2-3 veces por mes') 2-3 veces por mes
        .entrevista_inicial_button_container
          button.submit-button.forms_button(class='submit-button forms_button' type='submit') Enviar
    script(src='include/changessal.js')
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js')
    script.
      const submitButton = document.querySelector('.submit-button');

      submitButton.addEventListener('click', function () {
        // Aquí puedes realizar validaciones del formulario si es necesario
        // Si todo está validado, puedes almacenar un valor en las cookies o el almacenamiento local
        localStorage.setItem('formSubmitted', 'true');
      });

      // Verifica si el formulario se ha enviado previamente al cargar la página
      window.addEventListener('load', function () {
        const formSubmitted = localStorage.getItem('formSubmitted');

        if (formSubmitted === 'true') {
          // Muestra la notificación de éxito usando SweetAlert
          Swal.fire({
            icon: 'success',
            title: 'Listo',
            text: 'Datos del alumno guardados con exito!',
          });

          // Limpia el valor almacenado para evitar que la alerta se muestre en futuras recargas
          localStorage.removeItem('formSubmitted');
        }
      });